<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/f9457e77c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/styles.css"> 
</head>
<body>
    <header>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
    <a href=""><i class="fa-brands fa-spotify"></i></a>
    <a href=""><i class="fa-brands fa-apple"></i></a>
    <a href=""><i class="fa-brands fa-amazon"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
</nav>
</header>
<main>
    <h2>emilia <br> cole//</h2>
        <h1>twist is my reality</h1>
    </main>
</body>
</html>