<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f9457e77c9.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f9457e77c9.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/stylesheet/styles.css"> 
    <title>Music</title>
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
    </nav>
    </header>
    <main>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Ligth</a></li>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h3>album<br>twist my reality</h3> 
                <img src="/img/emilia-play-list.png"  width="640"  alt="imagen album">
            <ol>
                <li> <i class="fa fa-play" ></i>Organic Love</li>
                <li><i class="fa fa-play" ></i>Twist in my reality</li>
                <li><i class="fa fa-play" ></i>Street ligth</li>
                <li><i class="fa fa-play" >Lorem ipsum dolor sit amet</i></li>
            </ol>
            <a href="#">Go top</a>
            </article>

        </section>
        <section>
            <article>
                <h3>Video: Organic Love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <div>
      <p>Directed by VINCE MALC & EMILIA COLE</p>
      <p>Edited and Filmed by NICOLAS TROY</p>
      <p>Produced by NIKI HEART,</p>
      <p>Wix Films LTD.</p>
      </div>
         <a href="#">Go top</a>
            </article>
            <article>
                <h3>Video: Street Ligth</h3>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                    </div>
                       <a href="#">Go top</a>
            </article>
        </section>
    </main>
</body>
</html>